.dark-mode{
    background-color: $negro;
    header,
    .footer{
        background-color: $grisOscuro;       
    }
    p{
        color: $blanco;
    }
    h1,
    h2,
    h3,
    h4,
    a{
        color: $gris;
    }
    .anuncio{
        background-color: $grisOscuro;
        .precio{
            color: $verde;
        }
    }
    .iconos-caracteristicas{
        img{
            filter: invert(100%);
        }
    }

    .texto-nosotros blockquote{
        color: $blanco;
    }

    .formulario{
        background-color: $negro;
        color: $blanco;
        legend{
            color: $gris;
        }
        input:not([type="submit"]),
        textarea,
        select{
            background-color: $grisOscuro;
            color: $blanco;
        }
    }

}